# Intellij Environment specific files
.idea
*.iws

.history

# Scala and Sbt
target/
lib_managed/
project/
!project/assembly.sbt
!project/plugins.sbt

.ropeproject/

# Benchmark files
Benchmark/scripts/*
Benchmark/result.json
