# classpath cache used by scripts/start.py
.sbt-classpath

# Intellij Environment specific files
.idea
*.iws

.history

# Scala and Sbt
target/
lib_managed/
project/
!project/assembly.sbt
!project/plugins.sbt

*.pyc
__pycache__/
.ropeproject/

# Benchmark files
benchmark/results/*
benchmark/working/*
